@import url(http://fonts.googleapis.com/css?family=Open+Sans);

a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}
}

.bigbox{
	margin: 10px;
}

.bigbox :hover{
	background-color: rgba(231, 76, 60,1.0)
}

body{
	background-color: rgba(0,0,0,1.0) 
}

h1{
	color:white;
	text-align: center;
	height: 160px;
	font-size: 60px;
	padding:40px;
	font-family: 'Open Sans', sans-serif;
}

.navbar-inverse{
	background: url("http://i932.photobucket.com/albums/ad167/the-peruviano4/Lima/4260992084_56e6b5b94f_bwef.jpg");
}

.navbar-toggle{
	border:none;
	width:50px;
}
.navbar-toggle :hover {
	border:0px;
	background:none;
}

.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {
	background:none;
}

.navbar-header .navbar-toggle .collapsed {
	background-color:red;
}

.navbar-toggle .icon-bar{
	margin: 5px;
	width: 30px;
	height: 4px;
}

.xone {
	transform: rotate(45deg) translate3d(4px, 6px, 0);
	-webkit-transform: rotate(45deg) translate3d(4px, 6px, 0);
	transition:transform 1s;
	-webkit-transition:transform 1s;
}

.xtwo {
	transform: rotate(-45deg) translate3d(0px, -3px, 0);
	-webkit-transform: rotate(-45deg) translate3d(0px, -3px, 0);
	transition:transform 1s;
	-webkit-transition:transform 1s;
}

.contentbox{
	height: 700px;
}

/*#about, #contact_us, #android{
	background-color: rgba(155, 89, 182,1.0);
}

#work, #iphone, #others{
	background-color: rgba(230, 126, 34,1.0);
}*/
